In [9]:
pip install yfinance

Requirement already satisfied: yfinance in c:\users\rkaya\anaconda3\lib\site-packages (0.2.49)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pandas>=1.3.0 in c:\users\rkaya\anaconda3\lib\site-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in c:\users\rkaya\anaconda3\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in c:\users\rkaya\anaconda3\lib\site-packages (from yfinance) (2.32.2)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\rkaya\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\rkaya\anaconda3\lib\site-packages (from yfinance) (5.2.1)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\rkaya\anaconda3\lib\site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in c:\users\rkaya\anaconda3\lib\site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\rkaya\anaconda3\lib\site-packages (from yfinance) (2.4.2)
Requirement already satisfied: peewee>=3.16.2 in c:\users\rkaya\anaconda3\lib\site-packages (from yfinance) (3.17.7)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\rkaya\anaconda3\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in c:\users\rkaya\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\rkaya\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in c:\users\rkaya\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\rkaya\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rkaya\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rkaya\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\rkaya\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rkaya\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\rkaya\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (1.26.20)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rkaya\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2024.7.4)

In [10]:
pip install yahoo_fin

Requirement already satisfied: yahoo_fin in c:\users\rkaya\anaconda3\lib\site-packages (0.8.9.1)
Requirement already satisfied: requests-html in c:\users\rkaya\anaconda3\lib\site-packages (from yahoo_fin) (0.10.0)
Requirement already satisfied: feedparser in c:\users\rkaya\anaconda3\lib\site-packages (from yahoo_fin) (6.0.11)
Requirement already satisfied: requests in c:\users\rkaya\anaconda3\lib\site-packages (from yahoo_fin) (2.32.2)
Requirement already satisfied: pandas in c:\users\rkaya\anaconda3\lib\site-packages (from yahoo_fin) (2.2.2)
Requirement already satisfied: sgmllib3k in c:\users\rkaya\anaconda3\lib\site-packages (from feedparser->yahoo_fin) (1.0.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\rkaya\anaconda3\lib\site-packages (from pandas->yahoo_fin) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rkaya\anaconda3\lib\site-packages (from pandas->yahoo_fin) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\rkaya\anaconda3\lib\site-packages (from pandas->yahoo_fin) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rkaya\anaconda3\lib\site-packages (from pandas->yahoo_fin) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\rkaya\anaconda3\lib\site-packages (from requests->yahoo_fin) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rkaya\anaconda3\lib\site-packages (from requests->yahoo_fin) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\rkaya\anaconda3\lib\site-packages (from requests->yahoo_fin) (1.26.20)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rkaya\anaconda3\lib\site-packages (from requests->yahoo_fin) (2024.7.4)
Requirement already satisfied: pyquery in c:\users\rkaya\anaconda3\lib\site-packages (from requests-html->yahoo_fin) (2.0.1)
Requirement already satisfied: fake-useragent in c:\users\rkaya\anaconda3\lib\site-packages (from requests-html->yahoo_fin) (1.5.1)
Requirement already satisfied: parse in c:\users\rkaya\anaconda3\lib\site-packages (from requests-html->yahoo_fin) (1.20.2)
Requirement already satisfied: bs4 in c:\users\rkaya\anaconda3\lib\site-packages (from requests-html->yahoo_fin) (0.0.2)
Requirement already satisfied: w3lib in c:\users\rkaya\anaconda3\lib\site-packages (from requests-html->yahoo_fin) (2.1.2)
Requirement already satisfied: pyppeteer>=0.0.14 in c:\users\rkaya\anaconda3\lib\site-packages (from requests-html->yahoo_fin) (2.0.0)
Requirement already satisfied: appdirs<2.0.0,>=1.4.3 in c:\users\rkaya\anaconda3\lib\site-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (1.4.4)
Requirement already satisfied: importlib-metadata>=1.4 in c:\users\rkaya\anaconda3\lib\site-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (7.0.1)
Requirement already satisfied: pyee<12.0.0,>=11.0.0 in c:\users\rkaya\anaconda3\lib\site-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (11.1.1)
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in c:\users\rkaya\anaconda3\lib\site-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (4.66.4)
Requirement already satisfied: websockets<11.0,>=10.0 in c:\users\rkaya\anaconda3\lib\site-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (10.4)
Requirement already satisfied: six>=1.5 in c:\users\rkaya\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->yahoo_fin) (1.16.0)
Requirement already satisfied: beautifulsoup4 in c:\users\rkaya\anaconda3\lib\site-packages (from bs4->requests-html->yahoo_fin) (4.12.3)
Requirement already satisfied: lxml>=2.1 in c:\users\rkaya\anaconda3\lib\site-packages (from pyquery->requests-html->yahoo_fin) (5.2.1)
Requirement already satisfied: cssselect>=1.2.0 in c:\users\rkaya\anaconda3\lib\site-packages (from pyquery->requests-html->yahoo_fin) (1.2.0)
Requirement already satisfied: zipp>=0.5 in c:\users\rkaya\anaconda3\lib\site-packages (from importlib-metadata>=1.4->pyppeteer>=0.0.14->requests-html->yahoo_fin) (3.17.0)
Requirement already satisfied: typing-extensions in c:\users\rkaya\anaconda3\lib\site-packages (from pyee<12.0.0,>=11.0.0->pyppeteer>=0.0.14->requests-html->yahoo_fin) (4.11.0)
Requirement already satisfied: colorama in c:\users\rkaya\anaconda3\lib\site-packages (from tqdm<5.0.0,>=4.42.1->pyppeteer>=0.0.14->requests-html->yahoo_fin) (0.4.6)
Requirement already satisfied: soupsieve>1.2 in c:\users\rkaya\anaconda3\lib\site-packages (from beautifulsoup4->bs4->requests-html->yahoo_fin) (2.5)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import yfinance as yf

# Download historical data for a specific stock (e.g., Apple)
data = yf.download('AAPL', start='2024-01-01', end='2024-11-10')
data

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL
Date,,,,,,
2024-01-02 00:00:00+00:00,184.734970,185.639999,188.440002,183.889999,187.149994,82488700
2024-01-03 00:00:00+00:00,183.351746,184.250000,185.880005,183.429993,184.220001,58414500
2024-01-04 00:00:00+00:00,181.023178,181.910004,183.089996,180.880005,182.149994,71983600
2024-01-05 00:00:00+00:00,180.296707,181.179993,182.759995,180.169998,181.990005,62303300
2024-01-08 00:00:00+00:00,184.655365,185.559998,185.600006,181.500000,182.089996,59144500
...,...,...,...,...,...,...
2024-11-04 00:00:00+00:00,221.766006,222.009995,222.789993,219.710007,220.990005,44944500
2024-11-05 00:00:00+00:00,223.204422,223.449997,223.949997,221.139999,221.800003,28111300
2024-11-06 00:00:00+00:00,222.475235,222.720001,226.070007,221.190002,222.610001,54561100
2024-11-07 00:00:00+00:00,227.229996,227.479996,227.880005,224.570007,224.630005,42137700
2024-11-08 00:00:00+00:00,226.960007,226.960007,228.660004,226.410004,227.169998,38328800

correlation between all yfinance features and stock prices on that day

balance sheet

In [49]:
import yfinance as yf
import pandas as pd

# Companies to analyze
companies = ['MSFT', 'AAPL', 'GOOG']
tickers = yf.Tickers(' '.join(companies))

# Collect balance sheet data
balance_sheets_list = []

for company in companies:
    balance_sheet_df = tickers.tickers[company].balancesheet
    balance_sheet_df = balance_sheet_df.T.reset_index()
    balance_sheet_df.rename(columns={'index': 'Date'}, inplace=True)

    balance_sheet_df['Company'] = company
    balance_sheets_list.append(balance_sheet_df)

# Combine balance sheets into one DataFrame
combined_balance_sheets = pd.concat(balance_sheets_list)
combined_balance_sheets

,Date,Ordinary Shares Number,Share Issued,Net Debt,Total Debt,Tangible Book Value,Invested Capital,Working Capital,Net Tangible Assets,Capital Lease Obligations,...,Non Current Deferred Taxes Assets,Other Investments,Investmentin Financial Assets,Available For Sale Securities,Other Receivables,Preferred Stock,Current Accrued Expenses,Other Payable,Construction In Progress,Taxes Receivable
0,2024-06-30,7434000000.0,7434000000.0,33315000000.0,67127000000.0,121660000000.0,320107000000.0,34448000000.0,121660000000.0,15497000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-06-30,7432000000.0,7432000000.0,12533000000.0,59965000000.0,128971000000.0,253460000000.0,80108000000.0,128971000000.0,12728000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-06-30,7464000000.0,7464000000.0,35850000000.0,61270000000.0,87720000000.0,216323000000.0,74602000000.0,87720000000.0,11489000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-06-30,7519000000.0,7519000000.0,43922000000.0,67775000000.0,84477000000.0,200134000000.0,95749000000.0,84477000000.0,9629000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2024-09-30,15116786000.0,15116786000.0,76686000000.0,106629000000.0,56950000000.0,163579000000.0,-23405000000.0,56950000000.0,NaN,...,19499000000.0,NaN,91479000000.0,91479000000.0,32833000000.0,NaN,NaN,NaN,NaN,NaN
1,2023-09-30,15550061000.0,15550061000.0,81123000000.0,111088000000.0,62146000000.0,173234000000.0,-1742000000.0,62146000000.0,12842000000.0,...,17852000000.0,NaN,100544000000.0,100544000000.0,31477000000.0,NaN,NaN,NaN,NaN,NaN
2,2022-09-30,15943425000.0,15943425000.0,96423000000.0,132480000000.0,50672000000.0,170741000000.0,-18577000000.0,50672000000.0,12411000000.0,...,15375000000.0,120805000000.0,120805000000.0,120805000000.0,32748000000.0,NaN,NaN,NaN,NaN,NaN
3,2021-09-30,16426786000.0,16426786000.0,89779000000.0,136522000000.0,63090000000.0,187809000000.0,9355000000.0,63090000000.0,11803000000.0,...,NaN,127877000000.0,127877000000.0,127877000000.0,25228000000.0,NaN,NaN,NaN,NaN,NaN
4,2020-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9842000000.0,...,NaN,100887000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2023-12-31,12460000000.0,12460000000.0,NaN,28504000000.0,254181000000.0,295249000000.0,89716000000.0,254181000000.0,16634000000.0,...,12169000000.0,NaN,31008000000.0,31008000000.0,NaN,0.0,39980000000.0,NaN,35229000000.0,NaN
1,2022-12-31,12849000000.0,12849000000.0,NaN,29679000000.0,227184000000.0,269001000000.0,95495000000.0,227184000000.0,16822000000.0,...,5261000000.0,NaN,30492000000.0,30492000000.0,NaN,0.0,33021000000.0,NaN,27657000000.0,NaN
2,2021-12-31,13242420000.0,13242420000.0,NaN,28395000000.0,227262000000.0,264479000000.0,123889000000.0,227262000000.0,15551000000.0,...,1284000000.0,NaN,29549000000.0,29549000000.0,NaN,0.0,29052000000.0,397000000.0,23172000000.0,966000000.0
3,2020-12-31,13504440000.0,13504440000.0,NaN,26772000000.0,199924000000.0,235376000000.0,117462000000.0,199924000000.0,13940000000.0,...,1084000000.0,NaN,20703000000.0,20703000000.0,NaN,0.0,23274000000.0,754000000.0,23111000000.0,454000000.0
4,2019-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2166000000.0

In [77]:

stock_prices_dict = {}

for company in companies:
    stock_prices = tickers.tickers[company].history(period="5y")
    stock_prices.reset_index(inplace=True)
    stock_prices['Company'] = company
    stock_prices_dict[company] = stock_prices

stock_prices_df = pd.concat(stock_prices_dict.values(), ignore_index=True)


print(stock_prices_df)

                          Date        Open        High         Low  \
0    2019-11-13 00:00:00-05:00  140.158697  140.846406  139.719322
1    2019-11-14 00:00:00-05:00  140.426145  141.753803  140.407038
2    2019-11-15 00:00:00-05:00  142.250456  143.262927  141.620068
3    2019-11-18 00:00:00-05:00  143.339349  143.797817  142.298225
4    2019-11-19 00:00:00-05:00  144.113018  144.542832  143.463508
...                        ...         ...         ...         ...
3769 2024-11-06 00:00:00-05:00  175.350006  178.639999  175.039993
3770 2024-11-07 00:00:00-05:00  179.110001  182.580002  178.889999
3771 2024-11-08 00:00:00-05:00  182.000000  182.350006  179.570007
3772 2024-11-11 00:00:00-05:00  180.070007  182.085007  179.990005
3773 2024-11-12 00:00:00-05:00  181.380005  184.024994  180.990005

           Close    Volume  Dividends  Stock Splits Company
0     140.703125  16919200        0.0           0.0    MSFT
1     141.419495  19729800        0.0           0.0    MSFT
2     143.243820  23485700        0.0           0.0    MSFT
3     143.597229  21534000        0.0           0.0    MSFT
4     143.644989  23935700        0.0           0.0    MSFT
...          ...       ...        ...           ...     ...
3769  178.330002  27061500        0.0           0.0    GOOG
3770  182.279999  16730400        0.0           0.0    GOOG
3771  179.860001  15021500        0.0           0.0    GOOG
3772  181.970001  12503400        0.0           0.0    GOOG
3773  183.320007  14055600        0.0           0.0    GOOG

[3774 rows x 9 columns]

In [80]:
# Ensure Date columns are timezone-naive
combined_balance_sheets['Date'] = combined_balance_sheets['Date'].dt.tz_localize(None)
stock_prices_df['Date'] = stock_prices_df['Date'].dt.tz_localize(None)

# Now merge the data
main_bal_sheet_df = pd.merge(combined_balance_sheets, stock_prices_df, on=['Company', 'Date'], how='inner').sort_values(by='Date')

print(main_bal_sheet_df)

        Date Ordinary Shares Number   Share Issued       Net Debt  \
9 2019-12-31                    NaN            NaN            NaN
6 2020-09-30                    NaN            NaN            NaN
8 2020-12-31          13504440000.0  13504440000.0            NaN
2 2021-06-30           7519000000.0   7519000000.0  43922000000.0
5 2021-09-30          16426786000.0  16426786000.0  89779000000.0
7 2021-12-31          13242420000.0  13242420000.0            NaN
1 2022-06-30           7464000000.0   7464000000.0  35850000000.0
4 2022-09-30          15943425000.0  15943425000.0  96423000000.0
0 2023-06-30           7432000000.0   7432000000.0  12533000000.0
3 2024-09-30          15116786000.0  15116786000.0  76686000000.0

       Total Debt Tangible Book Value Invested Capital Working Capital  \
9             NaN                 NaN              NaN             NaN
6             NaN                 NaN              NaN             NaN
8   26772000000.0      199924000000.0   235376000000.0  117462000000.0
2   67775000000.0       84477000000.0   200134000000.0   95749000000.0
5  136522000000.0       63090000000.0   187809000000.0    9355000000.0
7   28395000000.0      227262000000.0   264479000000.0  123889000000.0
1   61270000000.0       87720000000.0   216323000000.0   74602000000.0
4  132480000000.0       50672000000.0   170741000000.0  -18577000000.0
0   59965000000.0      128971000000.0   253460000000.0   80108000000.0
3  106629000000.0       56950000000.0   163579000000.0  -23405000000.0

  Net Tangible Assets Capital Lease Obligations  ... Other Payable  \
9                 NaN                       NaN  ...           NaN
6                 NaN              9842000000.0  ...           NaN
8      199924000000.0             13940000000.0  ...   754000000.0
2       84477000000.0              9629000000.0  ...           NaN
5       63090000000.0             11803000000.0  ...           NaN
7      227262000000.0             15551000000.0  ...   397000000.0
1       87720000000.0             11489000000.0  ...           NaN
4       50672000000.0             12411000000.0  ...           NaN
0      128971000000.0             12728000000.0  ...           NaN
3       56950000000.0                       NaN  ...           NaN

  Construction In Progress Taxes Receivable        Open        High  \
9                      NaN     2166000000.0   66.342575   66.736109
6                      NaN              NaN  111.078484  114.465799
8            23111000000.0      454000000.0   86.558428   87.731047
2                      NaN              NaN  263.388233  264.040143
5                      NaN              NaN  141.138681  141.846045
7            23172000000.0      966000000.0  145.187457  146.006445
1                      NaN              NaN  252.158503  254.591321
4                      NaN              NaN  139.578226  141.376311
0                      NaN              NaN  334.525446  339.457912
3                      NaN              NaN  229.787188  232.743942

          Low       Close     Volume Dividends Stock Splits
9   66.291446   66.687225   19236000       0.0          0.0
6  110.912537  113.050346  142675200       0.0          0.0
8   86.558428   87.379410   20238000       0.0          0.0
2  262.327639  263.592560   21656500       0.0          0.0
5  138.800446  139.016586   89056700       0.0          0.0
7  144.323079  144.325073   17298000       0.0          0.0
1  248.087480  251.942688   31730900       0.0          0.0
4  136.337736  136.535324  124925300       0.0          0.0
0  333.980710  337.288818   26823800       0.0          0.0
3  229.397618  232.743942   54541900       0.0          0.0

[10 rows x 97 columns]

In [ ]:
#remove columns or null values

#test correlation between balance sheet and stock prices?